.App {
  height:900px;
  background-color:pink;
}

.p1{
  text-align:center;
}


h1{
  text-align:center;
  margin-left:300px;
  margin-right:300px;
  color:white;
  background-color:grey;
  border:4px solid white;
}
